.x-toolbar-top-info .x-toolbar-separator-horizontal {
  border-left-color: #505050;
  border-right-color: #505050;
}
/* line 202, ../../sass/src/toolbar/Toolbar.scss */
.x-toolbar-top-info .x-btn-default-toolbar-small-disabled .x-btn-inner {
  color: #93d3ff;
}

/* line 207, ../../sass/src/toolbar/Toolbar.scss */
.g-no-menu-icon {
  background-color: #eee;
  opacity: .8;
}

/* line 213, ../../sass/src/toolbar/Toolbar.scss */
#centerPanel .x-toolbar-default {
  border-width: 0px;
  background-image: none;
  background-color: white;
}

/**
 * selector for the "additional menu items" icon, when the screen is small
 */
/* line 224, ../../sass/src/toolbar/Toolbar.scss */
#\:tabs-menu-trigger {
  width: 25px;
}
/* line 226, ../../sass/src/toolbar/Toolbar.scss */
#\:tabs-menu-trigger.x-btn-default-toolbar-small-menu-active {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}
/* line 230, ../../sass/src/toolbar/Toolbar.scss */
#\:tabs-menu-trigger.x-btn-default-toolbar-small-over {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/**
 * top-menu containers
 */
/* line 239, ../../sass/src/toolbar/Toolbar.scss */
.x-vertical-box-overflow-body .infobar_elem_val {
  color: #232323;
}
/* line 242, ../../sass/src/toolbar/Toolbar.scss */
.x-vertical-box-overflow-body .x-menu-item-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  cursor: default !important;
}

/**
 * selector for infobar overflow
 */
/* line 251, ../../sass/src/toolbar/Toolbar.scss */
#infoBar-menu-trigger {
  margin-top: 10px;
}
/* line 253, ../../sass/src/toolbar/Toolbar.scss */
#infoBar-menu-trigger .x-toolbar-more-icon {
  background-position: top right !important;
}

/* line 1, ../../sass/src/panel/Header.scss */
.x-header-text-container {
  font-size: 13px;
  color: #232323;
  font-family: helvetica, verdana, sans-serif;
}

/* line 7, ../../sass/src/panel/Header.scss */
#centerPanel .x-container-text {
  font-family: helvetica, verdana, sans-serif;
  font-size: 16px;
  color: #999999;
}
/* line 12, ../../sass/src/panel/Header.scss */
#centerPanel a.x-panel-header-text {
  font-family: helvetica, verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 22, ../../sass/src/panel/Header.scss */
#centerPanel .g-page-header {
  background-color: transparent;
  margin-top: 0px;
  border-top: 0px;
  padding: 15px 10px 8px;
  border-bottom: 1px solid;
  border-bottom-color: silver;
  border-top-color: silver;
}
/* line 29, ../../sass/src/panel/Header.scss */
#centerPanel .g-panel-header {
  background-color: #efefef;
  margin-top: 10px;
  border-top: 3px solid;
  padding: 8px 10px;
  border-bottom: 1px solid;
  border-bottom-color: silver;
  border-top-color: silver;
}
/* line 36, ../../sass/src/panel/Header.scss */
#centerPanel .g-page-header .g-title {
  font: bold 20px/25px helvetica, arial, verdana, sans-serif;
  color: #232323;
  letter-spacing: 1px;
  margin-right: 5px;
}
/* line 42, ../../sass/src/panel/Header.scss */
#centerPanel .g-page-header .g-title-link {
  font: bold 20px/25px helvetica, arial, verdana, sans-serif;
  color: #0067ac;
  letter-spacing: 1px;
  margin-right: 5px;
  text-decoration: underline;
}

/* line 51, ../../sass/src/panel/Header.scss */
#southPanel .g-page-header, #southPanel .g-panel-header {
  background-color: #efefef;
  margin-top: 10px;
  padding: 8px 10px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
/* line 58, ../../sass/src/panel/Header.scss */
#southPanel .g-page-header .g-title {
  font-family: helvetica, verdana, sans-serif;
  font-size: 13px;
  color: #999999;
}

/* line 66, ../../sass/src/panel/Header.scss */
.x-container-default-horizontal-noborder .x-container-default {
  border-bottom: 0px;
}

/**
 * loading indicator for panel content
 */
/* line 73, ../../sass/src/panel/Header.scss */
.g-panel-loading {
  width: 16px;
  height: 16px;
  background-image: url(images/app/loading.gif);
}

/* line 79, ../../sass/src/panel/Header.scss */
.g-underlined {
  text-decoration: underline;
  cursor: pointer;
}

/* line 80, ../../sass/src/panel/Header.scss */
.g-double-underlined {
  border-bottom: 3px double;
}

/** This style doesn't work in strict mode, may need to use background image, etc.*/
/* line 82, ../../sass/src/panel/Header.scss */
.g-progress-spinner {
  background: url(images/app/wait.gif) no-repeat left;
  height: 16px;
  padding-left: 18px;
}

/* line 88, ../../sass/src/panel/Header.scss */
.icon {
  text-align: right;
  padding-right: 12px;
}

/*
 * Top tab-bar links (e.g., Log-out.)
 */
/* line 96, ../../sass/src/panel/Header.scss */
.g-banner .x-toolbar {
  border-width: 0;
  background: #f4f3f0 none;
}

/**
 *  Styles used by Ext.ux.form.ItemSelector
 */
/* line 7, ../../sass/src/layout/component/Dock.scss */
.x-form-multiselect-body .x-boundlist .x-mask {
  background: none;
}

/* line 14, ../../sass/src/layout/component/Dock.scss */
.x-form-itemselector-body .x-form-item {
  margin: 0;
}

/* line 19, ../../sass/src/layout/component/Dock.scss */
.x-form-itemselector-add {
  background-image: url(images/ux/right2.gif);
}

/* line 22, ../../sass/src/layout/component/Dock.scss */
.x-form-itemselector-remove {
  background-image: url(images/ux/left2.gif);
}

/**
 *  Disabled menu link for Left nav
 */
/* line 29, ../../sass/src/layout/component/Dock.scss */
.g-accordion .x-grid-row .g-disabled {
  color: #aaaaaa;
  cursor: default;
}

/**
 *  left menu active clickable items
 */
/* line 37, ../../sass/src/layout/component/Dock.scss */
.g-accordion-item {
  cursor: pointer;
}

/* line 41, ../../sass/src/layout/component/Dock.scss */
.g-subtitle, .g-subtitle-wizard {
  padding-left: 5px;
  font-weight: normal;
  color: #959595;
  font-size: 13px;
  border: 0 none;
  background: none transparent;
}

/* line 50, ../../sass/src/layout/component/Dock.scss */
.g-subtitle-wizard {
  display: block;
  padding-left: 1px;
}

/**************************
 *  Link styles           *
 **************************/
/**
 *  space between a link and the element to its left
 */
/* line 64, ../../sass/src/layout/component/Dock.scss */
* + .g-link {
  margin-left: 5px;
}

/**
 * Specifically target breadcrumb links to ensure they don't line-wrap
 */
/* line 71, ../../sass/src/layout/component/Dock.scss */
.g-link {
  white-space: nowrap;
}
/* line 74, ../../sass/src/layout/component/Dock.scss */
.g-link img {
  vertical-align: middle;
}

/* line 86, ../../sass/src/layout/component/Dock.scss */
.g-actionable .x-form-display-field,
.x-form-field-wrap > .g-actionable,
.x-form-twin-triggers > .g-actionable,
.x-form-item-body .g-actionable,
.x-form-item > .g-actionable,
DIV.x-form-item-cell > .g-actionable,
.altVal > .g-actionable {
  color: #0067ac;
  cursor: pointer;
}

/* line 92, ../../sass/src/layout/component/Dock.scss */
TD.x-grid-cell > DIV > .g-actionable {
  color: #0067ac;
  cursor: pointer;
  margin-right: 5px;
}
/* line 96, ../../sass/src/layout/component/Dock.scss */
TD.x-grid-cell > DIV > .g-actionable:last-child {
  margin-right: 0;
}

/* line 102, ../../sass/src/layout/component/Dock.scss */
.g-actionable img {
  margin: 3px 0 0 3px;
}

/* line 108, ../../sass/src/layout/component/Dock.scss */
.x-grid-cell-inner .miniButton {
  margin-right: 5px;
  padding: 0 2px;
  font-size: 12px;
}
/* line 112, ../../sass/src/layout/component/Dock.scss */
.x-grid-cell-inner .miniButton:last-child {
  margin-right: 0;
}
/* line 117, ../../sass/src/layout/component/Dock.scss */
.x-grid-cell-inner img {
  margin-right: 5px;
}
/* line 119, ../../sass/src/layout/component/Dock.scss */
.x-grid-cell-inner img:last-child {
  margin-right: 0;
}

/* line 126, ../../sass/src/layout/component/Dock.scss */
.g-template-spacer * {
  margin-right: 5px;
}
/* line 128, ../../sass/src/layout/component/Dock.scss */
.g-template-spacer *:last-child {
  margin-right: 0;
}

/* line 134, ../../sass/src/layout/component/Dock.scss */
.x-after-input-cell .g-link-button {
  margin-left: 3px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Open Sans", helvetica, sans-serif;
  color: white;
  padding: 0px 3px;
  border-radius: 2px;
  border: 1px solid #0067ac;
  background-color: #0067ac;
  text-decoration: none;
}
/* line 145, ../../sass/src/layout/component/Dock.scss */
.x-after-input-cell .g-link-button:hover {
  background-color: #0067ac;
}
/* line 150, ../../sass/src/layout/component/Dock.scss */
.x-after-input-cell .g-actionable {
  text-decoration: none;
}

/* line 155, ../../sass/src/layout/component/Dock.scss */
span.bold, a.bold {
  font-weight: bold;
}

/* line 159, ../../sass/src/layout/component/Dock.scss */
.g-helper-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: inherit;
}

/* line 166, ../../sass/src/layout/component/Dock.scss */
.g-helper-cell-icon {
  float: right;
}

/**************************
 *  List View styles      *
 **************************/
/* line 179, ../../sass/src/layout/component/Dock.scss */
img.g-cell-menu {
  vertical-align: middle;
  margin: 0 5px;
}

/* line 185, ../../sass/src/layout/component/Dock.scss */
.lvhead TD,
TD.lvhead {
  background-color: #E2E2E2 !important;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 192, ../../sass/src/layout/component/Dock.scss */
.g-enable-wrap .x-grid-cell-inner {
  white-space: normal;
  word-break: break-all;
}

/**
 *  Style used by cells that specify bold="true"
 */
/* line 200, ../../sass/src/layout/component/Dock.scss */
.x-grid-row .x-grid-cell.lv-bold {
  font-weight: bold;
}

/**
 *  Editable cell
 */
/* line 207, ../../sass/src/layout/component/Dock.scss */
TD.g-cell-edit {
  background-image: url(images/app/editable.png);
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 212, ../../sass/src/layout/component/Dock.scss */
.x-grid-row-alt TD.g-cell-edit {
  background-image: url(images/app/editable.png);
  background-position: left top;
  background-repeat: no-repeat;
}

/* line 217, ../../sass/src/layout/component/Dock.scss */
TD.g-cell-edit * {
  cursor: pointer;
}

/**
 *  altValue for footer
 */
/* line 224, ../../sass/src/layout/component/Dock.scss */
.altVal {
  white-space: nowrap;
  font-size: 90%;
}

/**
 *  Required indicator for list view grid column header
 */
/* line 232, ../../sass/src/layout/component/Dock.scss */
.requiredcolumnindicator .x-column-header-inner {
  padding-left: 12px;
  background: url(images/app/required.png) no-repeat;
}

/* line 237, ../../sass/src/layout/component/Dock.scss */
DIV.x-grid-cell-inner > DIV {
  white-space: normal;
}

/**
 * Make form fields in cells have same font as regular cells.
 */
/* line 244, ../../sass/src/layout/component/Dock.scss */
DIV.x-grid-cell-inner > DIV.x-form-item {
  font: normal 11px helvetica,arial,tahoma,sans-serif;
}

/*
 * spacing after a ListView
 */
/* line 251, ../../sass/src/layout/component/Dock.scss */
.x-panel.x-grid {
  margin-bottom: 3px;
  margin-top: 10px;
}

/* line 260, ../../sass/src/layout/component/Dock.scss */
.archived *,
.archived,
.archived span,
a.archived:visited,
a.archived:active {
  color: #A08060;
}

/*
 * hides the group header
 */
/* line 267, ../../sass/src/layout/component/Dock.scss */
.g-no-group .x-grid-group-hd {
  display: none;
}

/*
 * disable dirty indicator
 */
/* line 274, ../../sass/src/layout/component/Dock.scss */
.g-no-bg-img {
  background-image: none !important;
}

/* line 219, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-inline-details {
  border-color: #0067ac;
  padding: 0;
}

/* line 225, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details {
  font-size: 12px;
  border: 1px solid #d6d6d6;
}
/* line 232, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details .x-tool-img {
  background-image: url(images/tools/tool-sprites-dark.png);
  background-color: #efefef;
}

/* line 245, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal {
  padding: 8px 10px 8px 10px;
}

/* line 249, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal-noborder {
  padding: 9px 11px 8px 11px;
}

/* line 253, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical {
  padding: 10px 8px 10px 8px;
}

/* line 257, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical-noborder {
  padding: 11px 9px 11px 8px;
}

/* line 273, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-text-container-inline-details {
  color: #2f3e43;
  font-size: 12px;
  font-weight: bold;
  font-family: arial, helvetica, verdana, sans-serif;
  line-height: 15px;
  padding: 1px 0 0;
  text-transform: none;
}

/* line 285, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-body-inline-details {
  background: #fff8d7;
  border-color: #0067ac;
  color: black;
  font-size: 13px;
  font-weight: normal;
  font-family: "Open Sans", helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
}

/* line 447, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details {
  background-image: none;
  background-color: #efefef;
}

/* line 451, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical {
  background-image: none;
  background-color: #efefef;
}

/* line 509, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-inline-details-collapsed-border-top {
  border-bottom-width: 1px !important;
}
/* line 513, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-inline-details-collapsed-border-right {
  border-left-width: 1px !important;
}
/* line 517, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-inline-details-collapsed-border-bottom {
  border-top-width: 1px !important;
}
/* line 521, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-inline-details-collapsed-border-left {
  border-right-width: 1px !important;
}

/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-inline-details-top:after {
  display: none;
  content: "x-slicer:stretch:bottom";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-inline-details-bottom:after {
  display: none;
  content: "x-slicer:stretch:bottom";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-inline-details-left:after {
  display: none;
  content: "x-slicer:stretch:left";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-inline-details-right:after {
  display: none;
  content: "x-slicer:stretch:left";
}

/*</if slicer>*/
/* */
/* line 537, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical .x-panel-header-text-container {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 0 0;
  -o-transform: rotate(90deg);
  -o-transform-origin: 0 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
/* line 36, ../../../ext-theme-base/sass/etc/mixins/rotate-element.scss */
.x-ie9m .x-panel-header-inline-details-vertical .x-panel-header-text-container {
  background-color: #efefef;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1), progid:DXImageTransform.Microsoft.Chroma(color=#efefef);
}

/* line 566, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details .x-panel-header-icon {
  width: 16px;
  height: 16px;
  background-position: center center;
}
/* line 571, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details .x-panel-header-glyph {
  color: #2f3e43;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
}
/* line 588, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-ie8m .x-panel-header-inline-details .x-panel-header-glyph {
  color: #8f9699;
}

/* line 597, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal .x-panel-header-icon-before-title {
  margin: 0 6px 0 0;
}
/* line 607, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal .x-panel-header-icon-after-title {
  margin: 0 0 0 6px;
}

/* line 619, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical .x-panel-header-icon-before-title {
  margin: 0 0 6px 0;
}
/* line 629, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical .x-panel-header-icon-after-title {
  margin: 6px 0 0 0;
}

/* line 642, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal .x-tool-after-title {
  margin: 0 0 0 6px;
}
/* line 652, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-horizontal .x-tool-before-title {
  margin: 0 6px 0 0;
}

/* line 664, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical .x-tool-after-title {
  margin: 6px 0 0 0;
}
/* line 674, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-inline-details-vertical .x-tool-before-title {
  margin: 0 0 6px 0;
}

/* line 704, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-inline-details-resizable .x-panel-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 9, ../../sass/src/panel/Panel.scss */
.x-panel-body-inline-details {
  color: #000;
  font-size: 12px;
}
/* line 12, ../../sass/src/panel/Panel.scss */
.x-panel-body-inline-details .inline-details-title {
  font-weight: bold;
  color: #004499;
  padding-bottom: 7px;
  font-size: 12px;
}

/**
 * Wizard
 */
/* line 25, ../../sass/src/panel/Panel.scss */
.g-accordion .x-panel-header-text-container-tree-navigation,
.g-accordion .x-container-header-text-container-tree-navigation {
  color: #282828;
  font-size: 13px;
  font-weight: 700;
}
/* line 31, ../../sass/src/panel/Panel.scss */
.g-accordion .x-panel-body-default,
.g-accordion .x-container-body-default {
  border-width: 0;
}
/* line 34, ../../sass/src/panel/Panel.scss */
.g-accordion .g-required {
  padding-right: 5px;
}

/**
 * Center panel screen header panel, resetting padding in header elements to reset left alignment
 */
/* line 43, ../../sass/src/panel/Panel.scss */
#centerPanel .x-panel-inline-icon {
  vertical-align: middle;
  margin-right: 5px;
}

/* line 49, ../../sass/src/panel/Panel.scss */
#westPanel-body {
  padding: 5px 0 0 0;
}
/* line 52, ../../sass/src/panel/Panel.scss */
#westPanel-body .x-grid-cell-inner {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* line 59, ../../sass/src/panel/Panel.scss */
#westPanel {
  border-right: 1px solid #d6d6d6;
  box-shadow: 3px 0px 10px #aaa;
}

/* line 63, ../../sass/src/panel/Panel.scss */
#southPanel {
  border-top: 1px solid #d6d6d6;
  box-shadow: 0 -1px 2px #aaaaaa;
}

/* line 68, ../../sass/src/panel/Panel.scss */
.g-msg-warning {
  font-weight: bold;
  font-size: 13px;
  color: red;
  margin: 0 0 0 10px;
}

/* line 75, ../../sass/src/panel/Panel.scss */
.g-msg-info {
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 0 10px;
}

/* line 82, ../../sass/src/panel/Panel.scss */
.x-container-default {
  color: #232323;
  font-size: 13px;
  font-weight: normal;
  border-width: 0px;
  border-style: solid;
  border-color: silver;
}

/* line 92, ../../sass/src/panel/Panel.scss */
.x-container-default.g-banner {
  background: #f4f3f0;
}

/* line 95, ../../sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation .x-tool-img {
  background-color: transparent !important;
}

/* line 98, ../../sass/src/panel/Panel.scss */
.x-panel-header-default {
  border-top: 3px solid silver !important;
  border-bottom: 1px solid silver !important;
}

/**
 * Wizard left-nav date picker
 */
/* line 106, ../../sass/src/panel/Panel.scss */
#westPanel .g-date-picker .x-form-item-label-left {
  text-align: center;
}

/**
 * left-nav date picker cell that contains calendar icon
 */
/* line 113, ../../sass/src/panel/Panel.scss */
#westPanel .g-date-picker .x-form-item-body {
  padding-right: 10px;
}

/**
 *  Default font
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../../../fonts/OpenSans-Light.woff) format("woff"), url(../../../fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../../../fonts/OpenSans-Regular.woff) format("woff"), url(../../../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../../../fonts/OpenSans-Semibold.woff) format("woff"), url(../../../fonts/OpenSans-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../../../fonts/OpenSans-Bold.woff) format("woff"), url(../../../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(../../../fonts/OpenSans-ExtraBold.woff) format("woff"), url(../../../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(../../../fonts/OpenSans-LightItalic.woff) format("woff"), url(../../../fonts/OpenSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../../../fonts/OpenSans-Italic.woff) format("woff"), url(../../../fonts/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(../../../fonts/OpenSans-SemiboldItalic.woff) format("woff"), url(../../../fonts/OpenSans-SemiboldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(../../../fonts/OpenSans-BoldItalic.woff) format("woff"), url(../../../fonts/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url(../../../fonts/OpenSans-ExtraBoldItalic.woff) format("woff"), url(../../../fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype");
}

/* line 221, ../../sass/src/panel/Panel.scss */
.g-preferences-icon {
  background-image: url(images/app/nav_preferences.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

/**
 * RadioColumn styles for list view grids
 */
/* line 234, ../../sass/src/panel/Panel.scss */
.x-grid3-body .x-grid3-radio-col-td .x-grid-cell-inner {
  padding: 1px 0 0 0!important;
}

/* line 240, ../../sass/src/panel/Panel.scss */
.x-grid3-radio-col {
  width: 15px;
  height: 15px;
  background: transparent url(images/form/radio.png) no-repeat 0 0;
  margin: 2px auto 0;
}

/* line 247, ../../sass/src/panel/Panel.scss */
.x-grid3-radio-col-on {
  width: 15px;
  height: 15px;
  background: transparent url(images/form/radio.png) no-repeat 0 -15px;
  margin: 2px auto 0;
}

/* line 254, ../../sass/src/panel/Panel.scss */
.x-grid-cell .x-form-radio {
  margin: 0;
  padding: 0;
  border: none;
}

/**
 * UnsavedWork styles
 */
/* line 263, ../../sass/src/panel/Panel.scss */
.unsavedwork_g {
  background-color: #d5e2e6;
}
/* line 265, ../../sass/src/panel/Panel.scss */
.unsavedwork_g a {
  font-weight: bold;
  color: #049;
  cursor: pointer;
}

/* line 272, ../../sass/src/panel/Panel.scss */
.x-unsavedwork-item-over a {
  text-decoration: underline;
}

/* line 276, ../../sass/src/panel/Panel.scss */
.x-unsavedwork-table .text {
  padding-left: 12px;
}

/* line 279, ../../sass/src/panel/Panel.scss */
.text.unsavedwork {
  padding: 2px 0 2px 12px;
  font-size: 12px;
}
/* line 282, ../../sass/src/panel/Panel.scss */
.text.unsavedwork:hover {
  color: #049;
  cursor: pointer;
}

/* line 288, ../../sass/src/panel/Panel.scss */
.unsavedwork_g .icon {
  color: #000;
  font-weight: 400;
}

/* line 293, ../../sass/src/panel/Panel.scss */
.g-unsavedwork-icon {
  background-image: url(images/app/nav_unsaved_on.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 299, ../../sass/src/panel/Panel.scss */
.x-btn-disabled .g-unsavedwork-icon {
  background-image: url(images/app/nav_unsaved_off.png);
}

/**
 * Detail View message background
 */
/* line 306, ../../sass/src/panel/Panel.scss */
.message {
  background: #bfd9ea !important;
  padding: 5px 5px 5px 10px;
  margin: 5px 5px 5px 7px;
}

/**
 * tool tip attributes
 */
/* line 4, ../../sass/src/tip/tip.scss */
.x-tip-default {
  background-color: #fff;
  border-color: #e1e1e1;
  box-shadow: #888888 0px 0px 6px;
}

/* line 1, ../../sass/src/layout/container/Table.scss */
.x-table-layout {
  font-size: 13px;
}

/* line 1, ../../sass/src/form/Labelable.scss */
.x-form-item-label {
  font: normal 13px/21px "Open Sans", sans-serif;
  margin-top: 2px;
}

/* line 1, ../../sass/src/form/field/Base.scss */
.x-table-form-item {
  margin-bottom: 0;
  margin-top: 2px;
}

/* line 5, ../../sass/src/form/field/Base.scss */
.x-anchor-form-item {
  margin-top: 2px;
  margin-bottom: 0px;
}

/* line 10, ../../sass/src/form/field/Base.scss */
.x-item-disabled .x-form-item-label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  cursor: default;
}

/* line 15, ../../sass/src/form/field/Base.scss */
.g-ime-mode-active {
  ime-mode: active;
}

/* line 19, ../../sass/src/form/field/Base.scss */
.g-ime-mode-inactive {
  ime-mode: inactive;
}

/* line 1, ../../sass/src/form/field/Text.scss */
.x-form-textarea {
  margin-left: 0;
}

/* line 7, ../../sass/src/form/field/Text.scss */
.ux-timefield input.x-form-text {
  padding: 2px 2px 1px 2px;
  text-align: center;
}
/* line 11, ../../sass/src/form/field/Text.scss */
.ux-timefield td.x-trigger-cell {
  width: 20px;
}
/* line 15, ../../sass/src/form/field/Text.scss */
.ux-timefield .x-form-spinner-up,
.ux-timefield .x-form-spinner-down {
  width: 18px !important;
}

/* line 20, ../../sass/src/form/field/Text.scss */
.x-form-text {
  vertical-align: middle;
}

/**
 *  targeted reset for margin, Chrome adds 2 pixels to the left and right of inputs
 */
/* line 27, ../../sass/src/form/field/Text.scss */
input.x-form-text {
  margin: 0px;
}

/* line 1, ../../sass/src/form/field/Display.scss */
.x-form-display-field {
  margin: 4px 5px 0 5px;
}

/* line 1, ../../sass/src/window/MessageBox.scss */
.messageSubheader a, .message a {
  text-decoration: underline;
  cursor: pointer;
}

/* line 5, ../../sass/src/window/MessageBox.scss */
.error_icon {
  background: url(images/form/exclamation.png) no-repeat center;
  height: 19px;
  width: 19px;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 12, ../../sass/src/window/MessageBox.scss */
.warning_icon {
  background: url(images/window/warn.gif) no-repeat;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
}

/* line 19, ../../sass/src/window/MessageBox.scss */
.info_icon {
  background: url(images/window/info.gif) no-repeat;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
}

/* line 26, ../../sass/src/window/MessageBox.scss */
.error_details {
  color: #555;
}

/* line 2, ../../sass/src/form/field/Checkbox.scss */
.g-dateCriterion .x-form-cb-wrap {
  vertical-align: middle;
}
/* line 6, ../../sass/src/form/field/Checkbox.scss */
.g-dateCriterion .g-choice {
  min-Width: 320px;
}

/* line 1, ../../sass/src/form/FieldSet.scss */
.x-fieldset {
  border: 1px solid #b5b8c8;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 0 10px;
}
/* line 7, ../../sass/src/form/FieldSet.scss */
.x-fieldset .x-tool-toggle {
  background-image: url(images/fieldset/collapse-tool.png);
  background-position: 0 0;
}
/* line 14, ../../sass/src/form/FieldSet.scss */
.x-fieldset .x-tool-over .x-tool-toggle {
  background-position: 0 -15px;
}
/* line 19, ../../sass/src/form/FieldSet.scss */
.x-fieldset .x-form-item-body {
  padding-bottom: 10px;
}

/* line 29, ../../sass/src/form/FieldSet.scss */
.x-ie8m .x-fieldset,
.x-quirks .x-ie .x-fieldset {
  padding-top: 0;
}
/* line 31, ../../sass/src/form/FieldSet.scss */
.x-ie8m .x-fieldset .x-fieldset-body,
.x-quirks .x-ie .x-fieldset .x-fieldset-body {
  padding-top: 0;
}

/* line 38, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header-checkbox {
  line-height: 16px;
  margin: 1px 0 0;
}
/* line 42, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header-checkbox .x-form-item-body {
  padding-bottom: 0;
}

/* line 47, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header {
  padding: 0 3px 1px 3px;
}
/* line 50, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header .x-tool {
  margin-top: 1px;
  padding: 0;
}

/* line 62, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header-text {
  font: normal 12px/16px "Open Sans", helvetica, sans-serif;
  color: black;
  padding: 1px 0;
}

/* line 67, ../../sass/src/form/FieldSet.scss */
.x-fieldset-header-text-collapsible {
  cursor: pointer;
}

/* line 73, ../../sass/src/form/FieldSet.scss */
.x-fieldset-with-title .x-fieldset-header-checkbox,
.x-fieldset-with-title .x-tool {
  margin: 1px 3px 0 0;
}

/* line 90, ../../sass/src/form/FieldSet.scss */
.x-webkit .x-fieldset-header {
  -webkit-padding-start: 3px;
  -webkit-padding-end: 3px;
}

/* line 101, ../../sass/src/form/FieldSet.scss */
.x-opera .x-fieldset-with-legend {
  margin-top: -1px;
}
/* line 104, ../../sass/src/form/FieldSet.scss */
.x-opera.x-mac .x-fieldset-header-text {
  padding: 2px 0 0;
}

/* line 112, ../../sass/src/form/FieldSet.scss */
.x-strict .x-ie8 .x-fieldset-header {
  margin-bottom: -1px;
}
/* line 116, ../../sass/src/form/FieldSet.scss */
.x-strict .x-ie8 .x-fieldset-header .x-tool,
.x-strict .x-ie8 .x-fieldset-header .x-fieldset-header-text,
.x-strict .x-ie8 .x-fieldset-header .x-fieldset-header-checkbox {
  position: relative;
  top: -1px;
}

/* line 126, ../../sass/src/form/FieldSet.scss */
.x-quirks .x-ie .x-fieldset-header,
.x-ie8m .x-fieldset-header {
  padding-left: 1px;
  padding-right: 1px;
}

/* line 133, ../../sass/src/form/FieldSet.scss */
.x-fieldset-collapsed {
  padding-bottom: 0 !important;
  border-width: 1px 1px 0 1px !important;
  border-color: #eeeeee transparent !important;
}
/* line 138, ../../sass/src/form/FieldSet.scss */
.x-fieldset-collapsed .x-fieldset-body {
  display: none;
}
/* line 141, ../../sass/src/form/FieldSet.scss */
.x-fieldset-collapsed .x-tool-toggle {
  background-position: -15px 0;
}
/* line 146, ../../sass/src/form/FieldSet.scss */
.x-fieldset-collapsed .x-tool-over .x-tool-toggle {
  background-position: -15px -15px;
}

/* line 153, ../../sass/src/form/FieldSet.scss */
.x-ie6 .x-fieldset-collapsed {
  border-width: 1px 0 0 0 !important;
  padding-bottom: 0 !important;
  margin-left: 1px;
  margin-right: 1px;
}

/* line 160, ../../sass/src/form/FieldSet.scss */
.x-ie .x-fieldset-bwrap {
  zoom: 1;
}

/* IE legend positioning bug */
/* line 167, ../../sass/src/form/FieldSet.scss */
.x-ie .x-fieldset-noborder legend {
  position: relative;
  margin-bottom: 23px;
}

/* line 173, ../../sass/src/form/FieldSet.scss */
.x-ie .x-fieldset-noborder legend span {
  position: absolute;
  left: 16px;
}

/* line 179, ../../sass/src/form/FieldSet.scss */
.x-fieldset-bwrap {
  overflow: hidden;
  zoom: 1;
}

/* line 184, ../../sass/src/form/FieldSet.scss */
.x-fieldset-body {
  overflow: hidden;
}

/* line 2, ../../sass/src/form/RadioGroup.scss */
.g-radio-group .x-form-cb-wrap {
  padding-right: 10px;
}

/* line 1, ../../sass/src/toolbar/Paging.scss */
.x-tbar-page-number {
  width: 35px;
}

/**
 * List View paging bar text attributes
 */
/* line 9, ../../sass/src/toolbar/Paging.scss */
.x-tbar-page-number .x-form-text {
  padding: 2px 2px 1px 2px;
  text-align: center;
}

/* line 1, ../../sass/src/view/BoundList.scss */
.x-boundlist-floating {
  box-shadow: #888888 0px 0px 6px;
}

/* line 4, ../../sass/src/view/BoundList.scss */
.x-list-plain h1 {
  font-size: 13px;
  margin-left: 5px;
}

/* line 8, ../../sass/src/view/BoundList.scss */
.x-boundlist-selected {
  color: #f4f3f0;
}

/* line 12, ../../sass/src/view/BoundList.scss */
.x-boundlist-item {
  white-space: nowrap;
}

/* line 16, ../../sass/src/view/BoundList.scss */
.x-boundlist-item-over {
  color: #232323;
}

/*
 * Additional Highlighted and Error row classes, to be applied with 
 * getRowClass(). Example:
 *
 *    viewConfig: {
 *      getRowClass: function(record, rowIndex, rowParams, store){
 *          return record.get("valid") ? "x-grid-row-highlighted" : "x-grid-row-error";
 *      }  
 *    }
 * 
 */
/* line 13, ../../sass/src/panel/Table.scss */
.x-grid-row-highlighted .x-grid-td {
  border-style: solid;
  border-color: #d6d6d6;
  background-color: #dcecf3 !important;
}

/* line 21, ../../sass/src/panel/Table.scss */
.x-grid-row-error .x-grid-td {
  border-style: solid;
  border-color: #d6d6d6;
  background-color: #f4e7dc !important;
}

/**
 * Additional cell editable flag, to be applied with renderer(). Example:
 * 
 *      renderer: function(value, metaData) {
 *          metaData.tdCls += ' x-grid-cell-editable'; // mark cell editable
 *          return value;
 *      };
 */
/* line 38, ../../sass/src/panel/Table.scss */
.x-grid-row .x-grid-cell-editable {
  background-image: url(images/grid/editable.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* line 45, ../../sass/src/panel/Table.scss */
.x-grid-with-row-lines .x-grid-table {
  border-top: 0px solid white;
}

/**
 * invalid cell:
 */
/* line 5, ../../sass/src/grid/Panel.scss */
.x-grid-row .g-invalid-cell, .x-grid-row-alt .g-invalid-cell {
  background-color: #ffeeee;
  border-bottom-color: #cf4c35;
}

/* line 12, ../../sass/src/grid/Panel.scss */
.x-grid-row .g-invalid-cell.x-grid-cell-selected, .x-grid-row-alt .g-invalid-cell.x-grid-cell-selected {
  background-color: #93d3ff;
}

/**
 * invalid row:
 */
/* line 19, ../../sass/src/grid/Panel.scss */
TR.g-invalid-row TD {
  background-color: #ffeeee;
  border-bottom-color: #cf4c35;
}

/* line 1, ../../sass/src/grid/column/Column.scss */
.x-column-header-last {
  border-right: 1px solid #d6d6d6;
}

/* line 7, ../../sass/src/grid/column/Column.scss */
.x-column-header-sort-ASC .x-column-header-text,
.x-column-header-sort-DESC .x-column-header-text {
  font-weight: bold;
  color: #0067ac;
}

/* line 13, ../../sass/src/grid/column/Column.scss */
.g-header-sort {
  color: #0067ac;
  cursor: pointer;
}

/**
 * List View grid summary row styles
 */
/* line 5, ../../sass/src/grid/feature/Summary.scss */
.x-grid-row-summary .x-grid-cell {
  font-weight: 700;
}
/* line 9, ../../sass/src/grid/feature/Summary.scss */
.x-grid-row-summary td {
  font-weight: bold;
}

/* line 2, ../../sass/src/menu/Menu.scss */
.x-columnmenu .x-table-layout {
  border-collapse: collapse;
}
/* line 4, ../../sass/src/menu/Menu.scss */
.x-columnmenu .x-table-layout .x-menu-plain {
  border: none;
}
/* line 8, ../../sass/src/menu/Menu.scss */
.x-columnmenu .x-table-layout-cell {
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
}
/* line 15, ../../sass/src/menu/Menu.scss */
.x-columnmenu .x-menu {
  border-width: 0;
}

/**
 * header text in a flattened menu
 */
/* line 23, ../../sass/src/menu/Menu.scss */
.g-menu-header .x-menu-item-text {
  font: 700 13px "Open Sans", helvetica, sans-serif;
  line-height: 23px;
}

/* line 1, ../../sass/src/resizer/Resizer.scss */
.x-splitter-vertical, .x-splitter {
  background-color: #e2e2e2;
  z-index: 2;
}

/**
 * Tab panel inside a list-details view
 */
/* line 4, ../../sass/src/tab/Panel.scss */
.x-list-details-tabpanel {
  border-top: 3px solid #FFF;
}
/* line 6, ../../sass/src/tab/Panel.scss */
.x-list-details-tabpanel > .x-tab-bar {
  border-top: 1px solid #0067ac !important;
}

/* line 11, ../../sass/src/tab/Panel.scss */
.x-tab-bar-strip-default-top {
  border-width: 1px 0 0 0;
  height: 2px;
}

/* line 15, ../../sass/src/tab/Panel.scss */
.x-tab-default-top {
  padding-top: 5px;
  padding-bottom: 4px;
  border-radius: 0;
  margin-right: 5px;
}

/* line 21, ../../sass/src/tab/Panel.scss */
.x-tab-default-top-over {
  text-decoration: underline;
  color: #0067ac;
}

/* line 25, ../../sass/src/tab/Panel.scss */
.x-tab-default {
  background-color: #f9f9f7;
}
/* line 27, ../../sass/src/tab/Panel.scss */
.x-tab-default .x-tab-inner {
  color: #0067ac;
}

/* line 31, ../../sass/src/tab/Panel.scss */
.x-tab-bar-default-top {
  padding: 0px;
  background-color: #f9f9f7;
}

/* line 35, ../../sass/src/tab/Panel.scss */
.x-tab-default-active {
  background-color: white !important;
  border-left: 1px solid #d6d6d6 !important;
  border-top: 1px solid #d6d6d6 !important;
  border-right: 1px solid #d6d6d6 !important;
}
/* line 41, ../../sass/src/tab/Panel.scss */
.x-tab-default-active .x-tab-inner {
  color: #0067ac;
}

/* line 45, ../../sass/src/tab/Panel.scss */
.x-tab-default-top-over.x-tab-default-active {
  text-decoration: none;
}

/* line 48, ../../sass/src/tab/Panel.scss */
.x-tab-bar-body {
  border-top: 1px solid #d6d6d6;
}

/* line 52, ../../sass/src/tab/Panel.scss */
.x-tab-bar-default .x-tabbar-scroll-left {
  background-image: url(images/grid/page-prev.png);
  background-position: 50%;
  height: 28px;
  border-right: 1px solid #d6d6d6;
}
/* line 58, ../../sass/src/tab/Panel.scss */
.x-tab-bar-default .x-tabbar-scroll-right {
  background-image: url(images/grid/page-next.png);
  background-position: 50%;
  height: 28px;
  border-left: 1px solid #d6d6d6;
}
/* line 64, ../../sass/src/tab/Panel.scss */
.x-tab-bar-default .x-box-scroller {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 2, ../../sass/src/tree/Panel.scss */
.g-accordion .x-panel-header-tree-navigation {
  background-color: #f2f2f2;
  border-top: 1px solid #e5e3d7 !important;
  border-bottom: 1px solid #e5e3d7 !important;
  font-size: 13px;
}

/**
 *  Left tree navigation
 */
/* line 219, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-tree-navigation {
  border-color: #0067ac;
  padding: 0 0 5px 0;
}

/* line 225, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation {
  font-size: 14px;
  border: 1px solid #e5e3d7;
}
/* line 232, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation .x-tool-img {
  background-image: url(images/tools/tool-sprites-dark.png);
  background-color: white;
}

/* line 245, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal {
  padding: 5px 10px 5px 10px;
}

/* line 249, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal-noborder {
  padding: 6px 11px 5px 11px;
}

/* line 253, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical {
  padding: 10px 5px 10px 5px;
}

/* line 257, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical-noborder {
  padding: 11px 6px 11px 5px;
}

/* line 273, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-text-container-tree-navigation {
  color: black;
  font-size: 14px;
  font-weight: normal;
  font-family: arial, helvetica, verdana, sans-serif;
  line-height: 16px;
  padding: 1px 0 0;
  text-transform: none;
}

/* line 285, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-body-tree-navigation {
  background: white;
  border-color: #0067ac;
  color: black;
  font-size: 13px;
  font-weight: normal;
  font-family: "Open Sans", helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
}

/* line 447, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation {
  background-image: none;
  background-color: white;
}

/* line 451, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical {
  background-image: none;
  background-color: white;
}

/* line 509, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-tree-navigation-collapsed-border-top {
  border-bottom-width: 1px !important;
}
/* line 513, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-tree-navigation-collapsed-border-right {
  border-left-width: 1px !important;
}
/* line 517, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-tree-navigation-collapsed-border-bottom {
  border-top-width: 1px !important;
}
/* line 521, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel .x-panel-header-tree-navigation-collapsed-border-left {
  border-right-width: 1px !important;
}

/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-tree-navigation-top:after {
  display: none;
  content: "x-slicer:stretch:bottom";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-tree-navigation-bottom:after {
  display: none;
  content: "x-slicer:stretch:bottom";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-tree-navigation-left:after {
  display: none;
  content: "x-slicer:stretch:left";
}

/*</if slicer>*/
/* */
/*<if slicer>*/
/* line 78, ../../../ext-theme-base/sass/etc/mixins/slicer.scss */
.x-panel-header-tree-navigation-right:after {
  display: none;
  content: "x-slicer:stretch:left";
}

/*</if slicer>*/
/* */
/* line 537, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical .x-panel-header-text-container {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 0 0;
  -o-transform: rotate(90deg);
  -o-transform-origin: 0 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
/* line 36, ../../../ext-theme-base/sass/etc/mixins/rotate-element.scss */
.x-ie9m .x-panel-header-tree-navigation-vertical .x-panel-header-text-container {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1), progid:DXImageTransform.Microsoft.Chroma(color=white);
}

/* line 566, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation .x-panel-header-icon {
  width: 16px;
  height: 16px;
  background-position: center center;
}
/* line 571, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation .x-panel-header-glyph {
  color: #2f3e43;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
}
/* line 588, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-ie8m .x-panel-header-tree-navigation .x-panel-header-glyph {
  color: #979ea1;
}

/* line 597, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal .x-panel-header-icon-before-title {
  margin: 0 6px 0 0;
}
/* line 607, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal .x-panel-header-icon-after-title {
  margin: 0 0 0 6px;
}

/* line 619, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical .x-panel-header-icon-before-title {
  margin: 0 0 6px 0;
}
/* line 629, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical .x-panel-header-icon-after-title {
  margin: 6px 0 0 0;
}

/* line 642, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal .x-tool-after-title {
  margin: 0 0 0 6px;
}
/* line 652, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-horizontal .x-tool-before-title {
  margin: 0 6px 0 0;
}

/* line 664, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical .x-tool-after-title {
  margin: 6px 0 0 0;
}
/* line 674, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-header-tree-navigation-vertical .x-tool-before-title {
  margin: 0 0 6px 0;
}

/* line 704, ../../../ext-theme-neutral/sass/src/panel/Panel.scss */
.x-panel-tree-navigation-resizable .x-panel-handle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 29, ../../sass/src/tree/Panel.scss */
.x-panel-tree-navigation .x-grid-header-ct {
  border: none;
}
/* line 32, ../../sass/src/tree/Panel.scss */
.x-panel-tree-navigation .x-panel-inline-icon {
  display: none;
}

/* line 37, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-tree-icon {
  display: none;
}
/* line 42, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-grid-row-over .x-grid-td {
  background-color: #93d3ff;
  border-color: #93d3ff;
  color: #232323;
}
/* line 49, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-grid-row-focused .x-grid-td {
  border-color: #93d3ff;
  background-color: #93d3ff;
  color: #000;
}
/* line 55, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-grid-row-selected .x-grid-td {
  border-color: #0067ac !important;
  background-color: #0067ac !important;
  color: #FFF;
}
/* line 60, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-grid-row .g-disabled {
  border-color: #FFF !important;
  background-color: #FFF !important;
  color: #c1c1c1 !important;
  cursor: default;
}
/* line 74, ../../sass/src/tree/Panel.scss */
.x-panel-body-tree-navigation .x-tree-elbow,
.x-panel-body-tree-navigation .x-tree-elbow-end,
.x-panel-body-tree-navigation .x-tree-elbow-plus,
.x-panel-body-tree-navigation .x-tree-elbow-end-plus,
.x-panel-body-tree-navigation .x-tree-elbow-empty,
.x-panel-body-tree-navigation .x-tree-elbow-line,
.x-panel-body-tree-navigation .x-tree-expander {
  width: 15px;
}

/**
 * Wizard
 */
/* line 83, ../../sass/src/tree/Panel.scss */
.embeddedwizard .x-panel-header-tree-navigation {
  border-top-width: 1px !important;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: transparent;
  border: none !important;
}
/* line 92, ../../sass/src/tree/Panel.scss */
.embeddedwizard .x-grid-row .x-grid-td {
  color: #282828;
}
/* line 96, ../../sass/src/tree/Panel.scss */
.embeddedwizard .x-grid-row-over .x-grid-td {
  border-color: #93d3ff;
  background-color: #93d3ff;
  color: #282828;
}
/* line 104, ../../sass/src/tree/Panel.scss */
.embeddedwizard .x-grid-row-focused .x-grid-td {
  border-color: #d5e2e6;
  background-color: #d5e2e6;
  color: #282828;
}
/* line 110, ../../sass/src/tree/Panel.scss */
.embeddedwizard .x-grid-row-selected .x-grid-td {
  border-color: #0067ac !important;
  background-color: #0067ac !important;
  color: #FFF;
}

/**
 * hide the misleading icon of leaf node for tree view and row tree
 */
/* line 121, ../../sass/src/tree/Panel.scss */
.x-tree-node-leaf .x-tree-node-icon {
  display: none;
}

/**
 * Allow text wrapping for RowTree Cell
 */
/* line 130, ../../sass/src/tree/Panel.scss */
.x-treegrid .x-tree-node {
  white-space: normal;
}

/**
 * underline the first column in a RowTree entry:
 */
/* line 144, ../../sass/src/tree/Panel.scss */
.g-actionable-tree-node > div,
.g-actionable > .x-treegrid-text {
  color: #0067ac !important;
  cursor: pointer;
}